<!-- Portfolio Grid Section -->
{% assign current_date = 'now' | date: "%Y-%m-%d" %}

<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming Topics</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        
        <div class="row">
        {% assign upcoming_posts = site.data['24'].Schedule | where_exp: "post", "post.date >= current_date" | sort: "date" | slice: 0, 3 %}
        {% for post in upcoming_posts %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.title | slugify }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    {% if post.thumbnail contains 'http' %}
                        <img src="{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    {% else %}
                        <img src="{{site.baseurl}}/css/2017_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    {% endif %}
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.date }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Past Topics</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        
        <div class="row">
        {% assign past_posts = site.data['24'].Schedule | where_exp: "post", "post.date < current_date" | sort: "date" | reverse %}
        <!-- Debug: Output past posts -->
        
        {% for post in past_posts %}
            <div class="col-md-4 col-sm-6 speakers-item">
                <a href="#{{ post.title | slugify }}" class="speakers-link" data-toggle="modal">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    {% if post.thumbnail contains 'http' %}
                        <img src="{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    {% else %}
                        <img src="{{site.baseurl}}/css/2017_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    {% endif %}
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.date }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<style>
    .speakers-item img{
        width: 256px;
        height: 256px;
    }
</style>