<!DOCTYPE html>
<html lang="en">

  {% include 2026_data/head.html %}


    <body id="page-top" class="index">

    {% include 2026_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome to Tech-taco<br></div>
                <div class="intro-lead-in">Tuesdays @ 5:00 pm</div>
                <div class="intro-lead-in">71-North Partnership studio</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2026_data/intro.html %}
    {% include 2026_data/topics.html %}
    {% include 2026_data/topic_info.html %}
    {% include 2026_data/about.html %}
    {% include 2026_data/footer.html %}
    {% include 2026_data/js.html %}

    </body>
</html>
